<html ng-app>
    <head>
        <title>Demo MP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    </head>
    <body>
        <div id="demo">
            <h1>POKEMON</h1>
             <div>
                <label>Ingrese busqueda </label>
                 <input type="text" ng-model="pokemon" placeholder="Nombre pokemon..." />
             </div>
            <button type="button" ng-click="searchPokemon()">Buscar</button>         
        </div>

             <div ng-if="pokemon">
                 
            



              </div>
    </body>
</html>
